body {
    background-color: white;
}

.error {
    color: red!important;
}

.container {
    max-width: 70rem;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #050708;
    /* background-color: gray; */
}

.bg-green {
    background-color: #2d8c35!important;
}

.bg-silver {
    background-color: #acadb0!important;
}

.bg-gray {
    background-color: #696a6c!important;
}

.bg-black {
    background-color: #000000!important;
}

a {
    text-decoration: none;
}